body {
	


  background-image: url('/images/spidey wallpaper.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  
}
.yard_pic{

}
#splash_title {
	width: 100%;
  font-size: 100px;
  color: rgb(235, 3, 3);
  opacity: 0.85;
  text-shadow: 4px 4px 4px rgb(2, 29, 185);
  text-align: center;
}

.menu_button {
    font-size: 28px;
    color: rgb(231, 0, 0);
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.background_button {
    border-radius: 12px;
    padding: 16px 20px;
}
